.services{
    padding-top: 40px;
    padding-bottom: 50px;
}
.container{
    /* position: relative; */
    padding-left: 132px;
    padding-right: 15px;
}
.services{
    max-width: 57.666667%;
}
.services_ban{
    background: #F0F8F7;
    padding: 35px 25px;
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 50px;
}
.services_ban_title{
    margin: 0 0 49px;
    font-size: 1.875em;
}
.services_ban_content{
    margin: 0 0 45px;
    font-size: 1.125em;
}
.services_ban_btn{
    display: block;
    padding: 20px;
    font-weight: 900;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    font-size: 0.875em;
    width: 100%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
    color: white !important;
    background: #52B0A2 !important;
    border-radius: 3px;
}
.right_services{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.services_list{
    padding-left: 25px;
}
.img{
    width: 39%;
    position: absolute;
    right: 0;
}
@media only screen and (max-width: 860px) {
    .services{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .container{
        /* position: relative; */
        /* padding-left: 132px;
        padding-right: 15px; */
        justify-content: center;
        padding: 0;
    }
    .services{
        max-width: 100%;
    }
    .services_ban_title{
        margin: 0 0 49px;
        font-size: 0.875em;
    }
    .services_ban_content{
        margin: 0 0 45px;
        font-size: 0.5em;
    }
    .img{
        position: relative;
        right: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
    
    }
}